notes.txt

Dean's suggestions

-Have collapsible sections that have the picture / keyword of each project.
-Have a two line bio under my name. Something like:
Freelance web app designer with express, mongo, API, javascript, service worker, and web technology experience. 
Always looking for new projects to bring ideas to their fullest potential.
-Add a footer with a 
