body{
  background: url("blue-white-watercolor.jpg") 100%;
  background-size: cover;
  height:100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  display: block;
}

.container-hero #my-initials{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

#my-initials{
  padding-bottom: 2rem;
}

.container-social{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


@media(min-width:1px) and (max-width: 375px) {
  .container-hero{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .container-quote{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
  }
  .container-info{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .container-social{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }


  .portfolio-hero, .journal-hero, .respect-hero, .contact-hero{
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    margin-left: -10%;
    font-size: 1.65rem;
    transform: scaleX(.8);
  }
  .style-1{
    border-top: thin solid #8c8b8b;
  }
  .style-2{
    border-top: medium double #8c8b8b;
  }
  .title-hero{
    text-align: center;
  }

  #first-part-of-quote{
    font-family: 'Candal', sans-serif;
    font-weight: 800;
    font-size: 2.3rem;
    text-align: justify;
    text-transform: uppercase;
    display: block;
    transform: scaleX(1.2);
  }
  #second-part-of-quote{
    margin-top: -9%;
    font-family: 'Wire One', sans-serif;
    font-weight: 100;
    font-size: 2.9rem;
    text-transform: uppercase;
    display: block;
    /* transform: scaleY(1.9); */
    transform: scaleX(1.3);
  }

  .info-date{
    margin-bottom: -1rem;
  }

  #date{
    font-family: 'Wire One', sans-serif;
    font-size: 1.5rem;
  }

  #precis{
    margin-top: -2rem;
    font-family: 'Wire One', sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
  }

  #first-part-of-quote{
    font-family: 'Candal', sans-serif;
    font-weight: 800;
    font-size: 2.3rem;
    text-align: justify;
    text-transform: uppercase;
    display: block;
    transform: scaleX(1.2);
  }
  #second-part-of-quote{
    margin-top: -9%;
    font-family: 'Wire One', sans-serif;
    font-weight: 100;
    font-size: 2.5rem;
    text-transform: uppercase;
    display: block;
    /* transform: scaleY(1.9); */
    transform: scaleX(1.3);
  }

  #intro{
    font-family: 'Comfortaa', sans-serif;
    padding-top: 5%;
  }

  .twitch, .gplus, .freecodecamp, .goodreads, .github, .wordpress, .steam, .slack {
    font-size: .9rem;
    display: inline-block;
    width: 45%;
    padding-top: 1%;
    text-transform: uppercase;
  }

  a:link{
    text-decoration: none;
    color: black;
  }
  a:hover{
    text-decoration: underline;
  }
  a:visited{
    color: black;
  }
}

@media(max-width:674px){
  .container-hero{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .container-quote{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
  }
  .container-info{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .container-social{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }


  .portfolio-hero, .journal-hero, .respect-hero, .contact-hero{
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    margin-left: -10%;
    font-size: 1.65rem;
    transform: scaleX(.8);
  }

  .style-1{
    border-top: thin solid #8c8b8b;
  }
  .style-2{
    border-top: medium double #8c8b8b;
  }
  .style-2-big{
    visibility: hidden;
  }
  .title-hero{
    text-align: center;
  }

  #first-part-of-quote{
    font-family: 'Candal', sans-serif;
    font-weight: 800;
    font-size: 11vw; /*back up is 2.7rem */
    text-align: justify;
    text-transform: uppercase;
    display: block;
    transform: scaleX(1.2);
  }
  #second-part-of-quote{
    margin-top: -9%;
    font-family: 'Wire One', sans-serif;
    font-weight: 100;
    font-size: 12vw;  /* back up is 2.9 rem */
    text-transform: uppercase;
    display: block;
    /* transform: scaleY(1.9); */
    transform: scaleX(1.3);
  }

  .info-date{
    margin-bottom: -1rem;
  }

  #date{
    font-family: 'Wire One', sans-serif;
    font-size: 1.5rem;
  }

  #precis{
    margin-top: -2rem;
    font-family: 'Wire One', sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
  }

  #first-letter-info{
    float: left;
    line-height: 2.5rem;
    font-size: 4.6875rem;
    padding-left: .1875rem;
    padding-right: .1875rem;
    padding-top: -1rem;
    font-family: "sail";
  }

  #intro{
    font-family: 'Comfortaa', sans-serif;
    padding-top: 5%;
  }

  .twitch, .gplus, .freecodecamp, .goodreads, .github, .wordpress, .steam, .slack {
    font-size: .9rem;
    display: inline-block;
    width: 45%;
    padding-top: 1%;
    text-transform: uppercase;
  }

  a:link{
    text-decoration: none;
    color: black;
  }
  a:hover{
    text-decoration: underline;
  }
  a:visited{
    color: black;
  }
}



@media(min-width: 675px) and (max-width: 1600px){
  .container-hero #my-initials{
    float:left;
    margin-right: 4%;
    margin-left: 2%;
  }
  .container-hero{
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-around;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .container-quote{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
  }
  .container-info{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .container-social{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }


  .portfolio-hero, .journal-hero, .respect-hero, .contact-hero{
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 2%;
    font-size: 1.9vw;
  }

  .contact-hero, .portfolio-hero{
    margin-right: 2%;
  }

  .journal-hero, .respect-hero{
    margin-right: 1%;
  }

  .portfolio-hero::after{
    font-family: 'Comfortaa', sans-serif;
    display: block;
    margin-top: 4%;
    width: 90%;
    content: "Some projects I worked on for learning different tech";
    text-transform: uppercase;
    font-size: 1vw;
  }

  .journal-hero::after{
    font-family: 'Comfortaa', sans-serif;
    display: block;
    margin-top: 4%;
    width: 90%;
    content: "Observations on and about my learning journey";
    text-transform: uppercase;
    font-size: 1vw;
  }

  .respect-hero::after{
    font-family: 'Comfortaa', sans-serif;
    display: block;
    margin-top: 4%;
    width: 90%;
    content: "Some resources for webdesign and walkthroughs";
    text-transform: uppercase;
    font-size: 1vw;
  }

  .contact-hero::after{
    font-family: 'Comfortaa', sans-serif;
    display: block;
    margin-top: 4%;
    width: 90%;
    content: "Email and let's talk";
    text-transform: uppercase;
    font-size: 1vw;
  }
/* Here starts the boxes for the big page */
  .container-info-big{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 4.5%;
    margin-bottom: 3%;
    width: 90%;
  }
  .portfolio-box{
    margin-left: 10%;
    margin-right: 5%;
    width: 20vw;
    height: 200px;
    border: solid black 1px;
    background-color: black;
  }
  .portfolio-box-title::after{
    display: block;
    margin-top: 15%;
    font-family: 'Comfortaa', sans-serif;
    color: #FBF6D9;
    content: "Projects";
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-left: 9%;
    margin-right: auto;

  }
  .portfolio-box::after{
    color: #FBF6D9;
    font-family: 'Comfortaa', sans-serif;
    display: block;
    margin-top: 10%;
    margin-left: 9%;
    width: 90%;
    content: "Some projects I worked on for learning different tech";
    text-transform: uppercase;
    font-size: 1rem;
  }

  .journal-box{
    margin-right: 5%;
    width: 20vw;
    height: 200px;
    border: solid black 1px;
    background-color: black;
  }
  .journal-box-title::after{
    display: block;
    margin-top: 15%;
    font-family: 'Comfortaa', sans-serif;
    color: #FBF6D9;
    content: "Reflections";
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-left: 6%;
    margin-right: auto;

  }
  .journal-box::after{
    color: #FBF6D9;
    font-family: 'Comfortaa', sans-serif;
    display: block;
    margin-top: 10%;
    margin-left: 6%;
    margin-right: auto;
    width: 90%;
    content: "Observations on and about my learning journey";
    text-transform: uppercase;
    font-size: 1rem;
  }
  .respect-box{
    margin-right: 5%;
    width: 20vw;
    height: 200px;
    border: solid black 1px;
    background-color: black;
  }
  .respect-box-title::after{
    display: block;
    margin-top: 15%;
    font-family: 'Comfortaa', sans-serif;
    color: #FBF6D9;
    content: "Resources";
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-left: 6%;
    margin-right: auto;

  }
  .respect-box::after{
    color: #FBF6D9;
    font-family: 'Comfortaa', sans-serif;
    display: block;
    margin-top: 10%;
    margin-left: 6%;
    margin-right: auto;
    width: 90%;
    content: "Some resources for webdesign and walkthroughs";
    text-transform: uppercase;
    font-size: 1rem;
  }
  .contact-box{
    margin-right: 5%;
    width: 20vw;
    height: 200px;
    border: solid black 1px;
    background-color: black;
  }
  .contact-box-title::after{
    display: block;
    margin-top: 15%;
    font-family: 'Comfortaa', sans-serif;
    color: #FBF6D9;
    content: "Contact";
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-left: 6%;
    margin-right: auto;

  }
  .contact-box::after{
    color: #FBF6D9;
    font-family: 'Comfortaa', sans-serif;
    display: block;
    margin-top: 10%;
    margin-left: 6%;
    margin-right: auto;
    width: 90%;
    content: "Email and let's talk";
    text-transform: uppercase;
    font-size: 1rem;
  }

  .style-1{
    border-top: thin solid #8c8b8b;
  }
  .style-2{
    border-top: medium double #8c8b8b;
  }
  .style-2-big{
    width: 95%;
    border-top: medium double #8c8b8b;
    visibility: visible;
  }
  .title-hero{
    text-align: center;
  }

  #first-part-of-quote{
    font-family: 'Candal', sans-serif;
    font-weight: 800;
    font-size: 11.5vw;
    text-align: justify;
    text-transform: uppercase;
    display: block;
    transform: scaleX(1.2);
  }
  #second-part-of-quote{
    margin-top: -7%;
    font-family: 'Wire One', sans-serif;
    font-weight: 100;
    font-size: 12.5vw;
    text-transform: uppercase;
    display: block;
    /* transform: scaleY(1.9); */
    transform: scaleX(1.3);
  }

  .info-date{
    margin-bottom: -1rem;
  }

  #date{
    font-family: 'Wire One', sans-serif;
    font-size: 1.5rem;
  }

  #precis{
    margin-top: -2rem;
    font-family: 'Wire One', sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
  }

  #first-letter-info{
    float: left;
    line-height: 2.5rem;
    font-size: 4.6875rem;
    padding-left: .1875rem;
    padding-right: .1875rem;
    padding-top: -1rem;
    font-family: "sail";
  }

  #intro{
    font-family: 'Comfortaa', sans-serif;
    padding-top: 5%;
  }

  .twitch, .gplus, .freecodecamp, .goodreads, .github, .wordpress, .steam, .slack {
    font-size: .9rem;
    display: inline-block;
    width: 45%;
    padding-top: 1%;
    text-transform: uppercase;
  }

  a:link{
    text-decoration: none;
    color: black;
  }
  a:hover{
    text-decoration: underline;
  }
  a:visited{
    color: black;
  }
}
