body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    max-width: 100%;
}
.container{
    padding: 15px;
    text-align: left;
    max-width: 460px;
    margin: 0 auto;
}

.black{
   font-weight: 900;
}
@media(min-width:375) and (max-width:799){
    #name{
        font-family: "Lalezar";
        font-size:46px !important;
        line-height: 46px !important;
    }
}
@media(min-width: 768px){

    .mainName{
        font-size: 32px !important;
    }
    .secondaryName {
        font-size: 28px !important;
    }
    .resumeTop {
        font-size: 28px !important;
    }
    .resumeBot {

        font-size: 22px !important;
    }
    .goldenCircle{
        width: 100px !important;
        height: 100px !important;
        border-radius: 50px !important;
    }
    .fleur{
        width: 4% !important;
        height: 4% !important;
    }
    .fleurs{
        transform: translate(0, -150%) !important;
    }
}



@media only screen and (orientation: landscape) and (max-width: 768px){

    .fleur{
        width: 5% !important;
        height: 5% !important;
    }

    .mainName{
        font-size: 32px !important;
    }
    .secondaryName {
        font-size: 16px !important;
    }
    .resumeTop {
        font-size: 28px !important;
    }
    .resumeBot {
        font-size: 32px !important;
    }
    .goldenCircle{
        width: 80px !important;
        height: 80px !important;
        border-radius: 40px !important;
    }
}
@media(min-width:800px){
    #name{
        font-family: "Lalezar";
        font-size:66px !important;
        line-height: 52px !important;
    }
}
@media(min-width: 850px){
    .redMain, .whiteMain{
        min-height: 400px !important;
    }

    .top{
        min-height: 800px !important;
    }
    .mainName{
        font-size: 82px !important;
    }
    .secondaryName {
        font-size: 78px !important;
    }
    .resumeTop {
        font-size: 68px !important;
    }
    .resumeBot {

        font-size: 82px !important;
    }
    .goldenCircle{
        width: 150px !important;
        height: 150px !important;
        border-radius: 75px !important;
    }
}

@media(min-width: 1200px){
    body{
        display: flex;
    }
    .redLine, .whiteLine{
        width: 50% !important;
    }
    .top{
        width: 50% !important;
    }
}
#name{
    font-family: "Lalezar";
    font-size:42px;
    line-height: 42px;
}
.smBar{
    margin: 0 auto;
    height: 2px;
    width: 100%;
    background: black;
    margin: 5px 0;
}

.medBar{
    margin: 0 auto;
    height: 5px;
    width: 100%;
    background: black;
    margin: 5px 0; 
}
.thickBar{
    margin: 0 auto;
    height: 15px;
    width: 100%;
    background: black;
    margin: 5px 0;

}
#clients{
    text-align: left;
    font-size: 18px;
    font-weight: 100;
}
#codingSince{
    display: flex;
    justify-content: space-between;
}

#codingFrom, #startYear{
    font-size: 20px;
    font-weight: bolder;
}

#calories{
    display: flex;
    justify-content: space-between;
}
.fl{
    display: flex;
    margin-top: -20px;
    justify-content: space-between;
}

#hundo{
    font-size: 55px;
    margin-top: -12px;
}

#focus{
    font-size: 48px;
    font-weight: 500;
}

#dedicated{
    text-align: left;
    font-size: 24px;
    font-weight: 500;
}

#proficiencyStat{
    text-align: right;
}

.profPercent{
    display: flex;
    justify-content: space-between;
}

.indent{
    padding-left: 20px;
}


/* For the top of the page */

.top{
    height: 100vh;
    width: 100%;
    text-align: center;
}

.redMain{
    height: 50vh;
    background: #D2272F;
    z-index: 5;
}

.whiteLine{
    position: absolute;
    top: 2%;
    width: 100%;
    background: white;
    height: 5px;
}

.redLine{
    position: absolute;
    top: 98%;
    width: 100%;
    background: #D2272F;;
    height: 5px;
}

.whiteMain{
    height: 50vh;
    background:white;
}

.mainName{
    font-family: 'Pacifico';
    font-size: 52px;
    color: white;
    text-shadow:4px 4px black;
}
.secondaryName{
    font-size: 28px;
    color: white;
}

.name{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%
}

.goldenCircle{
    height: 150px;
    width: 150px;
    border-radius: 80px;
    background: goldenrod;
    transform: translate(0%, -50%);
    margin: 0 auto;

}
.resume{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

}
.resumeTop{
    color:#D2272F;
    font-size: 48px;
}
.resumeBot{
    text-shadow: -2px 0 goldenrod, 0 2px goldenrod, 2px 0 goldenrod, 0 -2px goldenrod;
    color:black;
    font-size: 52px;
    font-family: 'Source Serif Pro';
} 



.fleurs{
    transform: translate(0, -170%);
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}
.fleur{
    width: 7%;
    height: 7%;
}