body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    max-width: 100%;
}
.container{
    padding: 15px;
    text-align: left;
    max-width: 460px;
    margin: 0 auto;
}

.black{
   font-weight: 900;
}
@media(min-width:375) and (max-width:799){
    #name{
        font-family: "Lalezar";
        font-size:46px !important;
        line-height: 46px !important;
    }
}
@media(min-width:800px){
    #name{
        font-family: "Lalezar";
        font-size:66px !important;
        line-height: 52px !important;
    }
}

#name{
    font-family: "Lalezar";
    font-size:42px;
    line-height: 42px;
}
.smBar{
    margin: 0 auto;
    height: 2px;
    width: 100%;
    background: black;
    margin: 5px 0;
}

.medBar{
    margin: 0 auto;
    height: 5px;
    width: 100%;
    background: black;
    margin: 5px 0; 
}
.thickBar{
    margin: 0 auto;
    height: 15px;
    width: 100%;
    background: black;
    margin: 5px 0;

}
#clients{
    text-align: left;
    font-size: 18px;
    font-weight: 100;
}
#codingSince{
    display: flex;
    justify-content: space-between;
}

#codingFrom, #startYear{
    font-size: 20px;
    font-weight: bolder;
}

#calories{
    display: flex;
    justify-content: space-between;
}
.fl{
    display: flex;
    margin-top: -20px;
    justify-content: space-between;
}

#hundo{
    font-size: 55px;
    margin-top: -12px;
}

#focus{
    font-size: 48px;
    font-weight: 500;
}

#dedicated{
    text-align: left;
    font-size: 24px;
    font-weight: 500;
}

#proficiencyStat{
    text-align: right;
}

.profPercent{
    display: flex;
    justify-content: space-between;
}

.indent{
    padding-left: 20px;
}


/* For the top of the page */

.top{
    height: 100vh;
    width: 100%;
    text-align: center;
}

.redMain{
    height: 50vh;
    background: #D2272F;
    z-index: 5;
}

.whiteLine{
    position: absolute;
    top: 2%;
    width: 100%;
    background: white;
    height: 5px;
}

.redLine{
    position: absolute;
    top: 98%;
    width: 100%;
    background: #D2272F;;
    height: 5px;
}

.whiteMain{
    height: 50vh;
    background:white;
}

.mainName{
    font-family: 'Pacifico';
    font-size: 52px;
    color: white;
    text-shadow:4px 4px black;
}
.secondaryName{
    font-size: 28px;
    color: white;
}

.name{
    position: absolute;
    top: 10%;
    width: 100%;
}

.goldenCircle{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    background: goldenrod;
    transform: translate(-50%, -50%);
    top: 50%;
  left: 50%;
    position: absolute;
}
.resume{
    margin-top: 35%;
}
.resumeTop{
    color:#D2272F;
    font-size: 48px;
}
.resumeBot{
    text-shadow: -2px 0 goldenrod, 0 2px goldenrod, 2px 0 goldenrod, 0 -2px goldenrod;
    color:black;
    font-size: 52px;
    font-family: 'Source Serif Pro';
} 
@media(min-width: 1200px){
    .fleurs{
        position: absolute;
        top: 80% !important;
    } 
    .resume{
        margin-top: 5% !important;
    }
}
.fleurs{
    position: absolute;
    top: 93%;
}
.fleur{
    width: 7%;
}