/* For Mobile */

.name,
.role,
.job {
  font-family: "Titillium Web", sans-serif;
}

#profile-pic {
  width: 90%;
}

#korean-site {
  width: 90%;
}

.name {
  font-size: 8.5vw;
  line-height: 4vw;
}

.role {
  font-size: 5.5vw;
  line-height: 0.5vw;
}

.job {
  font-size: 3.5vw;
  line-height: 0.5vw;
}

#intro {
  height: 100vh;
  width: 100%;
  color: hsl(60, 22%, 4%);
  padding-top: 25%;
}

#project1 {
  font-family: "Open Sans", sans-serif;
  height: 90vh;
}

#project1-desc-p2 h2,
#project2-desc-p2 h2 {
  font-size: 6.5vw;
}

#korean-site {
  width: 100%;
}

#project1-desc-p2 h4,
#project2-desc-p2 h4 {
  font-size: 4vw;
}

#project1-icons {
  margin-top: 5%;
}

.icons {
  width: 100%;
}

#project2 {
  height: 90vh;
  margin-top: 3.5%;
  font-family: "Open Sans", sans-serif;
}

#project2-desc-p2 {
  margin-bottom: 5%;
}

#contact {
  margin-top: 15%;
  height: 20vh;
}

/* For Desktop */
@media (min-width: 750px) {
  /* For smooth scrolling */
  .intro,
  .project1,
  .project2 {
    height: 100vh;
  }

  .wrapper {
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
  }

  a.anchor {
    top: -9vh;
    position: relative;
    display: block;
    visibility: hidden;
  }

  a.anchor #bottom {
    top: -10vh;
    position: relative;
    display: block;
    visibility: hidden;
  }

  #intro {
    height: 100vh;
    width: 100%;
    color: hsl(60, 22%, 4%);
    padding-top: 15%;
  }

  #profile-pic {
    width: 30%;
  }
  #korean-site {
    width: 100%;
  }

  .name {
    font-size: 5.5vw;
    line-height: 1.5vw;
  }

  .role {
    font-size: 2.8vw;
    line-height: 1vw;
  }

  .job {
    font-size: 1.5vw;
    line-height: 1vw;
  }

  #project1-desc-p2 h2,
  #project2-desc-p2 h2 {
    font-size: 3vw;
  }

  #project1-desc-p2 h4,
  #project2-desc-p2 h4 {
    font-size: 1.75vw;
  }
  .icons {
    width: 70%;
  }
  .icon-container {
    padding-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #leetup-site,
  #korean-site {
    margin-top: 5%;
    width: 100%;
    height: 100%;
    object-fit: fill;
    overflow: hidden;
  }
  #contact {
    margin-top: 10%;
    height: 60vh;
    margin-bottom: 15%;
  }
}
